body {
    background: #000;
    font-family: Arial;
    color: gold;
    text-align: center;
}

.container {
    margin-top: 80px;
}

input {
    width: 80%;
    padding: 12px;
    margin: 10px;
    border-radius: 6px;
    border: 1px solid gold;
    background: black;
    color: gold;
}

button, .btn {
    padding: 12px 20px;
    background: gold;
    border: none;
    color: black;
    border-radius: 6px;
    margin: 10px;
    width: 60%;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}